In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
missing = np.nan

In [3]:
series_obj = Series(['row 1','row 2',missing, 'row 4', missing, 'row 6', 'row 7', missing])

In [4]:
series_obj

0    row 1
1    row 2
2      NaN
3    row 4
4      NaN
5    row 6
6    row 7
7      NaN
dtype: object

In [6]:
series_obj.isnull()

0    False
1    False
2     True
3    False
4     True
5    False
6    False
7     True
dtype: bool

In [7]:
# Fill in missing values

In [8]:
np.random.seed(25)

In [11]:
df = DataFrame(np.random.rand(36).reshape(6,6))

In [13]:
df

          0         1         2         3         4         5
0  0.559242  0.745284  0.828346  0.823694  0.077140  0.644862
1  0.309258  0.524254  0.958092  0.883201  0.295432  0.512376
2  0.088702  0.641717  0.132421  0.766486  0.076742  0.331044
3  0.679852  0.509213  0.655146  0.602120  0.719055  0.415219
4  0.396542  0.825139  0.712552  0.097937  0.842154  0.440821
5  0.373989  0.913676  0.547778  0.251937  0.027474  0.206257

In [14]:
df.loc[3:5, 0] = missing

In [15]:
df.loc[1:4, 5] = missing

In [16]:
df

          0         1         2         3         4         5
0  0.559242  0.745284  0.828346  0.823694  0.077140  0.644862
1  0.309258  0.524254  0.958092  0.883201  0.295432       NaN
2  0.088702  0.641717  0.132421  0.766486  0.076742       NaN
3       NaN  0.509213  0.655146  0.602120  0.719055       NaN
4       NaN  0.825139  0.712552  0.097937  0.842154       NaN
5       NaN  0.913676  0.547778  0.251937  0.027474  0.206257

In [18]:
filled_df = df.fillna(0)

In [19]:
filled_df

          0         1         2         3         4         5
0  0.559242  0.745284  0.828346  0.823694  0.077140  0.644862
1  0.309258  0.524254  0.958092  0.883201  0.295432  0.000000
2  0.088702  0.641717  0.132421  0.766486  0.076742  0.000000
3  0.000000  0.509213  0.655146  0.602120  0.719055  0.000000
4  0.000000  0.825139  0.712552  0.097937  0.842154  0.000000
5  0.000000  0.913676  0.547778  0.251937  0.027474  0.206257

In [20]:
filled_df = df.fillna({0:0.1,5:1.5})

In [21]:
filled_df

          0         1         2         3         4         5
0  0.559242  0.745284  0.828346  0.823694  0.077140  0.644862
1  0.309258  0.524254  0.958092  0.883201  0.295432  1.500000
2  0.088702  0.641717  0.132421  0.766486  0.076742  1.500000
3  0.100000  0.509213  0.655146  0.602120  0.719055  1.500000
4  0.100000  0.825139  0.712552  0.097937  0.842154  1.500000
5  0.100000  0.913676  0.547778  0.251937  0.027474  0.206257