In [1]:
# Data preparation Basic 
# Segment 1

In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
#Selecting and retriving data

In [8]:
series_obj = Series(np.arange(8), index =['row1','row2','row3','row4','row5','row6','row7','row8'])

In [9]:
series_obj

row1    0
row2    1
row3    2
row4    3
row5    4
row6    5
row7    6
row8    7
dtype: int32

In [11]:
series_obj[[0,7]]

row1    0
row8    7
dtype: int32

In [13]:
np.random.seed(25)

In [21]:
df = DataFrame(np.random.rand(36).reshape((6,6)),
index=['row1','row2','row3','row4','row5','row6'],
columns=['column1','column2','column3','column4','column5','column6'])

In [22]:
df

       column1   column2   column3   column4   column5   column6
row1  0.590885  0.163652  0.836928  0.775203  0.169041  0.766994
row2  0.335366  0.472398  0.215064  0.912094  0.759208  0.676561
row3  0.021376  0.660874  0.094440  0.831163  0.112749  0.566830
row4  0.174626  0.790607  0.033683  0.795971  0.689437  0.491846
row5  0.088554  0.937550  0.084362  0.469394  0.805613  0.085646
row6  0.244380  0.892806  0.478611  0.190401  0.253044  0.762339

In [23]:
df.loc[['row5','row2'],['column5','column2']]

       column5   column2
row5  0.805613  0.937550
row2  0.759208  0.472398

In [24]:
#Data Slicing

In [25]:
series_obj['row3':'row7']

row3    2
row4    3
row5    4
row6    5
row7    6
dtype: int32

In [26]:
#comparing with scalars

In [27]:
df < .2

      column1  column2  column3  column4  column5  column6
row1    False     True    False    False     True    False
row2    False    False    False    False    False    False
row3     True    False     True    False     True    False
row4     True    False     True    False    False    False
row5     True    False     True    False    False     True
row6    False    False    False     True    False    False

In [28]:
#filtering with scalars

In [29]:
series_obj[series_obj > 6]

row8    7
dtype: int32

In [30]:
#setting values with scalars

In [31]:
series_obj['row1','row5','row8'] =8

In [32]:
series_obj

row1    8
row2    1
row3    2
row4    3
row5    8
row6    5
row7    6
row8    8
dtype: int32

In [33]:
# MY OWN UNDERSTANDINGS

In [38]:
num_obj = [1,2,3,4,5,6,7,8]
ser_object  = Series(num_obj)

In [39]:
ser_object

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64